
{% extends 'base.html' %}
{% load static %} 
{% load humanize %}
{% block title %} Home{% endblock %}
{% block content %}
<section id="showcase">
    <div class="container text-center">
      <div class="home-search p-5">
        <div class="overlay p-5">
          <img src="{% static 'img/logo.png' %}" alt="logo" class="centre" width="100" height="100">
          {% include 'partials/_alerts.html' %}
          
          <h2 class="display-4 mb-4">
            Sharing Made Easy
          </h2>
          <div class="search">
            <form action="{% url 'search' %}">
              <!-- Form Row 1 -->
              <div class="form-row">
                <div class="col-md-4 mb-3">
                  <label class="sr-only">Search</label>
                  <input type="text" name="keywords" class="form-control" placeholder="Search">
                </div>
  
                <div class="col-md-4 mb-3">
                  <label class="sr-only">Type</label>
                  <select name="type" class="form-control">
                    <option selected="true" disabled="disabled">Type</option>
                      {% for key,value in type.items %}
                      <option value="{{key}}"
                      {% if key == values.type %}
                      selected
                      {% endif %}
                      >{{value}}</option>
                      {%endfor%}
  
                  </select>
                </div>
  
                <div class="col-md-4 mb-3">
                  <label class="sr-only">College</label>
                  <select name="College" class="form-control">
                    <option selected="true" disabled="disabled">College (All)</option>
                      {% for key,value in College_choices.items %}
                      <option value="{{key}}"
                      {% if key == values.College %}
                      selected
                      {% endif %}
                      >{{value}}</option>
                      {%endfor%}
  
                  </select>
                </div>
              </div>
              <!-- Form Row 2 -->
              <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label class="sr-only">Category</label>
                  <select name="category" class="form-control">
                    <option selected="true" disabled="disabled">Category (All)</option>
                    {% for key,value in category_choices.items %}
                      <option value="{{key}}"
                      {% if key == values.category %}
                      selected
                      {% endif %}
                      >{{value}}</option>
                      {%endfor%}
                  </select>
                </div>
                <div class="col-md-6 mb-3">
                  <select name="price" class="form-control">
                    <option selected="true" disabled="disabled">Max Price (All)</option>
                    {% for key,value in price_choices.items %}
                      <option value="{{key}}"
                      {% if key == values.price %}
                      selected
                      {% endif %}
                      >{{value}}</option>
                      {%endfor%}
  
                  </select>
                </div>
              </div>
              <button class="btn btn-secondary btn-block mt-4" type="submit">Search</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Listings -->
  <section id="listings" class="py-5">
    <div class="container">
      <h3 class="text-center mb-3">Latest Listings</h3>
      <div class="row">
        {% if listings %}
        {% for listing in listings %}
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card listing-preview">
            <img class="card-img-top" src="{{ listing.photo_main.url }}" alt="">
            <div class="card-img-overlay">
              <h2>
                <span class="badge badge-secondary text-white">{{listing.type}}</span>
              </h2>
            </div>
            <div class="card-body">
              <div class="listing-heading text-center">
                <h4 class="text-primary">{{listing.title}}</h4>
                <p>
                  <i class="fas fa-map-marker text-secondary"></i> {{listing.College}}</p>
              </div>
              <hr>
              <div class="row py-2 text-secondary">
                  <i class="fas fa-th-large"></i> Price: ₹ {{ listing.price | intcomma }}
              </div>
              <div class="row py-2 text-secondary">
                  <i class="fas fa-user"></i> Description : {{listing.description}}
                </div>
            </div>

              <div class="row text-secondary pb-2">
                <div class="col-6">
                  <i class="fas fa-clock"></i>{{listing.list_date}}</div>
              </div>
              <hr>
              <a href="{% url 'listing' listing.id %}" class="btn btn-primary btn-block">More Info</a>
          </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="col-md-12">
            <p>Currently there are no listings Available</p>
        </div>
        {%endif%}
      </div>
    </div>
  </section>


  <section id="services" class="py-5 bg-secondary text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4">
          <i class="fas fa-comment fa-4x mr-4"></i>
          <hr>
          <h3>Consulting Services</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae, provident iste consequatur
            hic dignissimos ratione ea quae.</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-home fa-4x mr-4"></i>
          <hr>
          <h3>Propery Management</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae, provident iste consequatur
            hic dignissimos ratione ea quae.</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-suitcase fa-4x mr-4"></i>
          <hr>
          <h3>Renting & Selling</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae, provident iste consequatur
            hic dignissimos ratione ea quae.</p>
        </div>
      </div>
    </div>
  </section>

{% endblock %}